@font-face {
  font-family: Montserrat-Bold;
  src: url(Montserrat-Bold.ttf);
}
@font-face {
  font-family: Montserrat-BoldItalic;
  src: url(Montserrat-BoldItalic.ttf);
}
@font-face {
font-family: Montserrat-ExtraBold;
src: url(Montserrat-ExtraBold.ttf);
}
@font-face {
font-family: Montserrat-ExtraBoldItalic;
src: url(Montserrat-ExtraBoldItalic.ttf);
}


html{
height: 100%;
}

body {
margin: 0;
padding: 0;
width: 100%;
height: 100%;
overflow-x: hidden;
background-color: antiquewhite;
}

.MainImage {
background-image: url(oldLadyBg.jpg);
background-size: cover;
background-repeat: no-repeat;
background-position: center center;
width: 100%;
min-height: 100vh;
display: flex;
justify-content: center;
align-items: center;
text-align: center;
color: white;
position: relative;
}

.transparentLayer {
width: 100%;
height: 100%;
background-color: rgba(0, 0, 0, 0.4);
position: absolute; 
top: 0;
left: 0;
}

#TopTitle{
color: white;
font-size: 3vw;
font-family: Montserrat-BoldItalic;
text-align: center;
width: 100%;
bottom: 2.3em;
position: relative;
}

#BottomTitle{
position: relative;
color: white;
font-size: 6vw;
font-family: Montserrat-ExtraBold;
text-align: center;
width: 100%;
bottom: 2em;
}

#Slogan{
color: white;
font-size: 3.4vw;
font-family: Montserrat-Bold;
text-align: center;
width: 100%;
position: relative;
bottom: 5.7em;
}

/* Small screens (phones) */
@media (max-width: 768px) {
#TopTitle {
  font-size: 100%; 
}
#BottomTitle {
  font-size: 200%;
}
#Slogan {
  font-size: 120%;
}
.girdWrapper {
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
}
}

#gridTitle{
color: white;
font-family: Montserrat-ExtraBold;
width: 10em;
font-size: 250%;
/* POSITION TEXT */
position: relative;
left: 26.6em;
top: 12.5em;
}

.AboutUs{
  margin-top: 10em;
  background-color: burlywood;
  width: 90%;
  height: 20em;
  position: relative;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 25px;
  border: 2px solid black;
  margin: auto;
}

#logo{
  width: 10em;
}


.box {
background-color: #F6CF6C;
border-radius: 0.3125em;
padding: 1em;
}

.girdWrapper {
background-color: transparent;
width: 37.5em;
display: grid;
grid-gap: 0.7em;
grid-template-columns: repeat(10, 2.125em);
grid-template-rows: repeat(10, 2.125em);
grid-auto-flow: column;

/* POSITION GIRD */
position: relative;
left: 25em;
}

ul {
list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
background-color: #333;
position: fixed;
top: 0;
width: 100%;
}

li {
float: left;
}

li a {
display: block;
color: white;
text-align: center;
padding: 14px 16px;
text-decoration: none;
}

li a:hover:not(.active) {
background-color: #111;
}

.active {
background-color: #aabc21;
}

.MainButton {
  position: relative;
  align-items: center;
  background-color: transparent;
  border: 2px solid #000;
  box-sizing: border-box;
  color: #000;
  cursor: pointer;
  fill: #000;
  font-family: Montserrat-Bold, Inter,sans-serif;
  font-size: 16px;
  font-weight: 600;
  height: 48px;
  justify-content: center;
  letter-spacing: -.8px;
  line-height: 24px;
  min-width: 140px;
  outline: 0;
  padding: 0 17px;
  text-align: center;
  text-decoration: none;
  transition: all .3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.MainButton:focus {
  color: #171e29;
}

.MainButton:hover {
  border-color: #aabc21;
  color: #aabc21;
  fill: #aabc21;
}

.MainButton:active {
  border-color: #aabc21;
  color: #aabc21;
  fill: #aabc21;
}

@media (min-width: 768px) {
  .MainButton {
    min-width: 70px;
  }
}

