@font-face {
  font-family: Montserrat-Bold;
  src: url(Montserrat-Bold.ttf);
}
@font-face {
  font-family: Montserrat-BoldItalic;
  src: url(Montserrat-BoldItalic.ttf);
}
@font-face {
font-family: Montserrat-ExtraBold;
src: url(Montserrat-ExtraBold.ttf);
}
@font-face {
font-family: Montserrat-ExtraBoldItalic;
src: url(Montserrat-ExtraBoldItalic.ttf);
}

body{
  background: rgb(255, 255, 255);
  color: black;
  /* background: linear-gradient(360deg, #343a40 0%, rgba(128,128,128,1) 75%); */
  scroll-behavior: smooth; 
  overflow-x: hidden !important;
}

.top-left-section {
  display: flex;
  color: #ffffff;
  width: 10%; 
}

.top-left-section h5{
  padding-top: 1.6rem;
  padding-left: 0.7rem;
  font-family: Montserrat-ExtraBold;
  font-size: xx-large;
}

.top-left-section img{
  width: 8rem;
  height: auto;
}

#main-section {
  /* why tf i need to tell da code this important for it 2 work lmao */
  animation-fill-mode: forwards !important; 
  opacity: 0;
  position: relative;
  z-index: 1;
}


@keyframes fadeIn {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}

@keyframes bounce {
  0%{
    transform: scale(1);
  }
  50%{
    transform: scale(1.2);
  }
  100%{
    transform: scale(1);
  }

}

.vertical-line-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.vertical-line {
  border-right: 0.1rem solid gray;
  height: 30rem;
}

hr{
  width: 25%;
  margin: auto;
  background-color: gray;
}

.founder-card {
  transition: transform 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.founder-card img{
  width: 12.5rem;
}

.founder-card:hover {
  transform: scale(1.1);
}


.title-text {
  font-size: 8vw;
  font-family: Montserrat-ExtraBold;
}

.title-text-slogan{
  font-size: 2vw;
  font-family: Montserrat-ExtraBoldItalic;
}

.box {
  background-color: black;
  border-radius: 0.3125em;
  padding: 1em;
  width: auto;
  width: 0.5rem;
  height: 0.5rem;
  opacity: 0;
  /* why tf i need to tell da code this important for it 2 work lmao */
  animation-fill-mode: forwards !important;
 
                                     /*▼COLOR OF BOX▼*/
  background: linear-gradient(to top, red 50%, black 50%) top;
  background-size: 200% 200%;
  transition: 0.5s ease-out;
}

.box:hover {
  background-position: bottom;
  -webkit-box-shadow:0 0 3rem red; /*▼COLOR OF BOX▼*/
  -moz-box-shadow: 0 0 3rem red; /*▼COLOR OF BOX▼*/
  box-shadow:0 0 3rem red; /*▼COLOR OF BOX▼*/
}


.girdWrapper {
  background-color: transparent;
  width: 37.5em;
  display: grid;
  grid-gap: 0.7em;
  grid-template-columns: repeat(10, 2.125em);
  grid-template-rows: repeat(10, 2.125em);
  grid-auto-flow: column;
}

.navbar {
  /* background-color: transparent !important; */
  float: right;
  top: 0;
  left: 0;
  z-index: 1030;
  background-color: rgb(255, 255, 217) !important;
  padding:10px;
  border-radius: 100em 0 0 100em;
}

/* 
#AboutAndMission{
  
  background-size: cover; 
  background-repeat: no-repeat;
  padding-top: 5rem;
  padding-left: 4rem;
  padding-right: 4rem;
  padding-bottom: 2rem;
  background-color: lightblue; 
  color: black;
} */

#AboutAndMission {
  margin: auto;
  background-color: #f8f9fa;
  padding: 4rem;
}



#AboutAndMissionRow{
  /* background-image: linear-gradient(to right, lightblue, lightblue 50%, white 50%, white);  */
  background-size: cover; 
  background-repeat: no-repeat;
}

#navLogo{
  justify-items: center;
  width: inherit;
  display: inline;
  width: 4rem;
  height: auto;
}


.nav-link{
  font-size: 1.2em;
  font-weight: 800;
  opacity: 100%;
  margin-left: 10px;
  margin-right: 10px;
  color: black;
}

#mainIcon{
  height: 25vh;
  margin-top: 2rem;
  opacity: 0;
}

/* Contact Pop-up Styles */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  overflow-x: hidden;
  background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
  background-color: #fff;
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #888;
  border-radius: 5px;
  max-width: fit-content;
}

.close {
  color: #aaa;
  float: right;
  font-size: 24px;
  cursor: pointer;
}

.close:hover {
  color: #000;
}

#contact-popup h2 {
  margin-top: 0;
}

.form-group {
  margin: 10px 0;
}

#contact-form input[type="email"],
#contact-form textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#contact-form button {
  background-color: #eaf3c4;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

#contact-form button:hover {
  background-color: rgb(240, 237, 68);
}


/* EVENT PAGE CSS */
#events {
  background-color: #222;
  padding: 30px;
  margin: 0px;
}

.timeline {
  display: flex;
  flex-direction: row;
  margin: auto;
  justify-content: center;
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.event-item {
  display: flex;
  margin: 20px 0;
  margin: 1rem;
}

.event-date {
  background-color: #007bff;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  min-width: 100px;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.date {
  font-size: 24px;
  font-weight: bold;
}

.month {
  font-size: 18px;
}

.event-details {
  flex: 1;
}

.event-title {
  font-size: 24px;
  font-weight: bold;
  color: #007bff;
}

.event-description {
  font-size: 18px;
  color: #ccc;
}

#mindcontainer {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (max-width: 440px) {
  #mindcontainer {
      padding-right: 0 !important;
      padding-left: 0 !important;
      margin-right: 0 !important;
      margin-left: 0 !important;
  }
}

@media (max-width: 768px) {
  .event-item {
      flex-direction: column;
      align-items: center;
      text-align: center;
  }

  .event-date {
      margin-right: 0;
      margin-bottom: 10px;
  }
}
/* EVENT PAGE CSS */

.button-28 {
  appearance: none;
  background-color: rgba(153, 153, 153, 0.5);
  border: 2px solid rgb(153, 153, 153);
  border-radius: 15px;
  box-sizing: border-box;
  color: black;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-height: 60px;
  min-width: 0;
  outline: none;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;

  will-change: transform;
}

.button-28:disabled {
  pointer-events: none;
}

.button-28:hover {
  color: #ffffff;
  background-color: rgba(188, 188, 188, 0.1);
  border-color: #747474;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.button-28:active {
  box-shadow: none;
  transform: translateY(0);
}

.customContainer{
  padding-right: 0px;
  padding-left: 0px;
  margin-right: 0px;
  margin-left: 0px;
}


.customContainer h1{
  font-size: 2.5rem;
  font-weight: 700;
  color: #333;
}

.customContainer h2 {
  font-size: 2.5rem;
  font-weight: 700;
  color: #333;
  text-align: center;
  padding-top: 3.25rem;
}


.customContainer p {
  font-size: 1.2rem;
  color: #555;
  line-height: 1.5;
}

#Statistics {
  position: relative;
  background-image: url(clouds.png);
  background-position: center bottom;
  background-size: 100%;
  width: 100%;
  padding: 3rem;
}

.parallax-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.2); 
  width: 100%;
}

.circle-icon h2 {
  font-size: 2rem;
  font-weight: 600;
}

.circle-icon p {
  font-size: 1rem;
  font-weight: 400;
  color: #555;
  display: none;
}

#descText {
  font-size: 1.2rem;
  color: #555;
}

.chief-label{
  padding-left: 5.1rem;

}

.chief-img {
  /* width: auto;
  height: 10rem; */
  margin: 1rem;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto;
  transition: transform 0.3s;
}

.chief-img img {
  width: 50%;
  height: 50%;
  object-fit: cover;
}
.chief-img:hover {
  transform: scale(1.05);
}





@media (max-width: 920px) {
  .box {
      width: 0.4rem;
      height: 0.4rem;
      padding: 0.8em;
  }
  .girdWrapper{
    grid-gap: 0.8em;
    grid-template-columns: repeat(10, 1.125em);
    grid-template-rows: repeat(10, 1.125em);
  }
  
}

@media (max-width: 499px){
  .top-left-section{
    display: none;
  }
}

@media (max-width: 290px) {
  .box {
      width: 0.4rem;
      height: 0.4rem;
      padding: 0.7em;
  }
  .girdWrapper{
    grid-gap: 1em;
    grid-template-columns: repeat(10, 0.6em);
    grid-template-rows: repeat(10, 0.6em);
  }
  
}

@media (max-width: 768px){
  .vertical-line{
    display: none;
  }
  .chief-img{
    width: 2rem;
    height: 2rem;
    margin: 1rem;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto;
  }
  .col-md-3{
    width: auto;
  }
  .row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: 0px;
  }
}


@media (max-height: 738px){
  #mainIcon{
    height: 40vh;
  }
}
@media (max-height: 550px){
  #mainIcon{
    height: 30vh;
  }
}
@media (max-height: 468px){
  #mainIcon{
    height: 20vh;
  }
}

@media (max-width: 1200px){
  .customContainer{
    padding-right: 0px;
    padding-left: 0px;
    margin-right: 0px;
    margin-left: 0px;
  }
}

@media (max-width: 1200px){
  .customContainer{
    padding-right: 0px;
    padding-left: 0px;
    margin-right: 0px;
    margin-left: 0px;
  }
}

@media (min-width: 600px){
  #descText{
    margin-top: 0;
  }
}